extends layout

block vars

block head
    meta(property='og:title', content='Helpific')
    meta(property='og:image', content='https://helpific.com/images/helpific-logo.png')
    meta(property='og:description', content=t('pages.index.slogan'))

block title

block content
    #cover.container-fluid= t('pages.index.slogan')

    .container
        .row.spacer

        .row
            .jumbotron.col-xs-12.text-center!= t('pages.index.text')

        .row.text-center
            h2.col-xs-12= t('pages.index.how-it-works')
            #bullet-1.col-xs-10.col-sm-4.col-md-2.col-xs-offset-1.col-sm-offset-0.col-md-offset-2.text-center
                .bullet 1
                | #{ t('pages.index.bullet-1') }
            #bullet-2.col-xs-10.col-sm-4.col-md-2.col-xs-offset-1.col-sm-offset-0.col-md-offset-1.text-center
                .bullet 2
                | #{ t('pages.index.bullet-2') }
            #bullet-3.col-xs-10.col-sm-4.col-md-2.col-xs-offset-1.col-sm-offset-0.col-md-offset-1.text-center
                .bullet 3
                | #{ t('pages.index.bullet-3') }

        .row.spacer

        .row.text-center
            h2.col-xs-12= t('pages.index.choose-way')

    .container-fluid
        .row.text-center
            a.bg-green.col-xs-6(href='help/offers')
                .spacer.col-xs-12
                h3.col-xs-12(style='color:#ffffff;margin-bottom:30px')= t('pages.index.offers-link')
                img.col-xs-8.col-md-4.col-xs-offset-2.col-md-offset-4(src='/images/door-left.png', alt=t('pages.index.offers-link-alt'))
            a.bg-yellow.col-xs-6(href='help/requests')
                .spacer.col-xs-12
                h3.col-xs-12(style='color:#ffffff;margin-bottom:30px')= t('pages.index.requests-link')
                img.col-xs-8.col-md-4.col-xs-offset-2.col-md-offset-4(src='/images/door-right.png', alt=t('pages.index.requests-link-alt'))

    #scroll-down
        i.fa.fa-chevron-down.fa-3x

    script.
        $(window).scroll(function(event) {
            $('#cover').css('background-position', 'center ' + $(window).scrollTop() * 0.3 + 'px')

            if($(window).scrollTop() > 10) {
                var alpha = 1 - $(window).scrollTop() / 200
                $('#cover').css('color', 'rgba(255, 255, 255, ' + alpha + ')')
                $('#cover').css('text-shadow', '0px 0px 10px rgba(88, 88, 88, ' + alpha + ')')
                $('#scroll-down').css('color', 'rgba(88, 88, 88, ' + (alpha - 0.5) + ')')
            }
            if($(window).scrollTop() > 50) $('#scroll-down').addClass('hidden')

            $('#bullet-1').css('opacity', ($(window).scrollTop() + $(window).height() - $('#bullet-1').offset().top - $('#bullet-1').height() / 2  ) / 100)
            $('#bullet-2').css('opacity', ($(window).scrollTop() + $(window).height() - $('#bullet-2').offset().top - $('#bullet-2').height() / 1.5) / 100)
            $('#bullet-3').css('opacity', ($(window).scrollTop() + $(window).height() - $('#bullet-3').offset().top - $('#bullet-3').height())       / 100)
        })
