doctype html
html(lang=lang)

    block vars

    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1, width=device-width, minimal-ui')
        if description
            meta(name='description', content=description)
        if keywords
            meta(name='keywords', content=keywords.join(', '))

        title= (title && title !== 'Helpific') ? title + ' - Helpific' : 'Helpific'

        base(href='/' + lang + '/')

        link(rel='stylesheet', type='text/css', href='https://fonts.googleapis.com/css?family=Raleway:400,700')
        link(rel='stylesheet', type='text/css', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css')
        link(rel='stylesheet', type='text/css', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css')
        link(rel='stylesheet', type='text/css', href='/stylesheets/style.css')

        link(rel='icon', type='image/png', href='/images/helpific-logo.png')
        link(rel='apple-touch-icon', type='image/png', href='/images/helpific-logo.png')

        script.
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

            ga('create', 'UA-260765-34', 'auto');
            ga('send', 'pageview');

        script(src='https://code.jquery.com/jquery-2.1.4.min.js')
        script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js')
        script(src='/javascripts/newrelic.js')

        block head
    body
        #wrap
            #main
                nav.navbar.navbar-default.navbar-fixed-top
                    .container
                        .navbar-header
                            button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1', aria-expanded='false')
                                span.sr-only=t('nav.toggle-navigation')
                                span.icon-bar
                                span.icon-bar
                                span.icon-bar
                            a.navbar-brand(href='')
                                img(src='/images/helpific-logo-text-hr.png', alt='Helpific logo')
                        .collapse.navbar-collapse(id='bs-example-navbar-collapse-1')
                            ul.nav.navbar-nav.navbar-right
                                li
                                    a(href='bb')= t('nav.bb')
                                li
                                    a(href='help/requests')= t('nav.requests')
                                li
                                    a(href='help/offers')= t('nav.offers')
                                li
                                    a(href='users')= t('nav.users')
                                if user
                                    li
                                        a(href='users/me')= t('nav.me')
                                    li
                                        a(href='signin/exit')= t('nav.sign-out')
                                else
                                    li
                                        a(href='signin')= t('nav.sign-in')
                                li.dropdown
                                    a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false')
                                        i.fa.fa-language
                                    ul.dropdown-menu
                                        each l in locales
                                            li
                                                a(href='/' + l + path.substring(3))= t('locales.' + l)
                block title
                    #title
                        .container
                            if title
                                .row
                                    h1.col-xs-12.text-center= title

                block content

        .container
            .row
                i#feedback-open.fa.fa-envelope.fa-3x(title=t('feedback.title'))
                form#feedback.hidden.col-xs-12.col-sm-6.col-md-5
                    #feedback-form
                        i#feedback-close.fa.fa-times-circle.fa-2x
                        h2.text-center= t('feedback.title')
                        if !user
                            .form-group.col-xs-12
                                label.control-label(for='feedback-email')= t('feedback.email')
                                input#feedback-email.form-control(type='email')
                        .form-group.col-xs-12
                            label.control-label(for='feedback-message')= t('feedback.message')
                            textarea#feedback-message.form-control(rows=4)
                        a#feedback-send.col-xs-12.text-center(href='javascript:void(0)')= t('feedback.send')
                    #feedback-ok.hidden.text-center
                        h2.text-center= t('feedback.thanks')

        footer.container-fluid
            .container
                .row
                    .col-xs-12.col-sm-6!= t('footer.contact')
                    .col-xs-12.col-sm-6.text-right
                        a(href='team')= t('nav.team')
                        br
                        a(href='partners')= t('nav.partners')
                        br
                        a(href='terms')= t('nav.terms')
                .row
                    .col-xs-12.text-center
                        a(href='https://www.facebook.com/Helpific', target='_blank')
                            i.fa.fa-facebook-square.fa-2x.social
                        a(href='https://www.twitter.com/helpific', target='_blank')
                            i.fa.fa-twitter-square.fa-2x.social
                        a(href='https://helpificeesti.blogspot.com/', target='_blank')
                            i.fa.fa-rss-square.fa-2x.social
                        a(href='http://www.enjoygram.com/tag/helpific', target='_blank')
                            i.fa.fa-instagram.fa-2x.social
                        a(href='https://www.linkedin.com/company/helpific', target='_blank')
                            i.fa.fa-linkedin-square.fa-2x.social
                        a(href='https://www.pinterest.com/helpific/', target='_blank')
                            i.fa.fa-pinterest-square.fa-2x.social
                        a(href='http://helpific.tumblr.com/', target='_blank')
                            i.fa.fa-tumblr-square.fa-2x.social
                        a(href='https://www.youtube.com/channel/UC0b5JqEQXdZuex5TNKSpoug', target='_blank')
                            i.fa.fa-youtube-square.fa-2x.social


        script.
            $(window).scroll(function(event) {
                if($(window).scrollTop() > 10) {
                    $('.navbar').addClass('navbar-border')
                } else {
                    $('.navbar').removeClass('navbar-border')
                }
            })

            $('#feedback-open').click(function() {
                $('#feedback-open').addClass('hidden')
                $('#feedback').removeClass('hidden')
            })

            $('#feedback-close').click(function() {
                $('#feedback').addClass('hidden')
                $('#feedback-open').removeClass('hidden')
            })

            $('#feedback-send').click(function() {
                if($('#feedback-message').val()) {
                    $('#feedback-form').addClass('hidden')
                    $('#feedback-ok').removeClass('hidden')
                    var postdata = {
                        'from-email': $('#feedback-email').val(),
                        message: $('#feedback-message').val()
                    }
                    $.post('feedback', postdata, function(data) {
                        console.log(data)
                    }).fail(console.log)
                    setTimeout(function() {
                        $('#feedback-message').val('')
                        $('#feedback-ok').addClass('hidden')
                        $('#feedback-form').removeClass('hidden')
                        $('#feedback').addClass('hidden')
                        $('#feedback-open').removeClass('hidden')
                    }, 1500)
                } else {
                    $('#feedback-message').focus()
                }
            })
