extends layout

block vars
    - title = t('pages.team.title')

block content
    .container
        each p, i in team
            .row
                img.col-xs-3.col-sm-3.col-md-2.img-circle(src=p.get('_picture'), alt=p.get('forename.value'), class=(i % 2 == 0) ? 'pull-left' : 'pull-right', style='margin-bottom:20px')
                .col-xs-12.col-md-8(class=(i % 2 == 0) ? '' : 'text-right col-md-offset-2')
                    h3= p.get('forename.value', '') + ' ' + p.get('surname.value', '')
                    if p.has('about-me-text')
                        .text-justify!= p.get('about-me-text.md')
                    p
                        a(href='mailto:'+p.get('email.value', ''))= p.get('email.value')
                    p
                        a(href='tel:'+p.get('phone.value', ''))= p.get('phone.value')
            .row.spacer
