extends layout

block vars

block head
    meta(property='og:title', content=profile.get('forename.value') + ' ' + profile.get('surname.value'))
    meta(property='og:image', content=profile.get('_picture'))
    meta(property='og:description', content=profile.get('slogan.value'))

block title
    #title
        .container
            .row
                a#message-send.btn.bg-yellow.col-xs-8.col-sm-2.col-xs-offset-1.pull-right.text-center(href='messages/' + profile.get('_id') + '#message')= t('pages.user.send-message')
                img.col-xs-4.col-md-2.col-xs-offset-4.col-md-offset-5.img-circle(src=profile.get('_picture'), alt=profile.get('forename.value'))

            if title
                .row
                    h1.col-xs-12.text-center= title
                    p.text-center
                        em= profile.get('slogan.value')


block content
    .container
        .row
            .col-xs-12
                if profile.has('me-help-you-video') || profile.has('me-help-you-photo') || profile.has('me-help-you-text')
                    a.profile-tab.col-xs-4.bg-green(href='javascript:void(0)', data-tab='me-help-you-tab')= t('pages.user.me-help-you-tab')
                if profile.has('me-help-you-video') || profile.has('me-help-you-photo') || profile.has('me-help-you-text') || profile.has('you-help-me-video') || profile.has('you-help-me-photo') || profile.has('you-help-me-text')
                    a.profile-tab.profile-tab-active.col-xs-4.bg-red(href='javascript:void(0)', data-tab='about-me-tab')= t('pages.user.about-me-tab')
                if profile.has('you-help-me-video') || profile.has('you-help-me-photo') || profile.has('you-help-me-text')
                    a.profile-tab.col-xs-4.bg-yellow(href='javascript:void(0)', data-tab='you-help-me-tab')= t('pages.user.you-help-me-tab')

        .row
            #me-help-you-tab.hidden.profile-tab-pane
                if media_embed(profile.get('me-help-you-video.value'))
                    .embed-responsive.embed-responsive-16by9
                        iframe.embed-responsive-item.col-xs-12(src=media_embed(profile.get('me-help-you-video.value')), allowtransparency='true', frameborder='0', scrolling='no', allowfullscreen, mozallowfullscreen, webkitallowfullscreen, oallowfullscreen, msallowfullscreen)
                    .spacer.col-xs-12
                else if profile.has('me-help-you-photo')
                    .col-xs-12
                        .profile-photo(style='background-image: url(' + profile.get('me-help-you-photo.file', '') + ')')
                    .spacer.col-xs-12
                .col-xs-12.text-justify!= profile.get('me-help-you-text.md')

            #about-me-tab.profile-tab-pane
                if media_embed(profile.get('about-me-video.value'))
                    .embed-responsive.embed-responsive-16by9
                        iframe.embed-responsive-item.col-xs-12(src=media_embed(profile.get('about-me-video.value')), allowtransparency='true', frameborder='0', scrolling='no', allowfullscreen, mozallowfullscreen, webkitallowfullscreen, oallowfullscreen, msallowfullscreen)
                    .spacer.col-xs-12
                else if profile.has('about-me-photo')
                    .col-xs-12
                        .profile-photo(style='background-image: url(' + profile.get('about-me-photo.file', '') + ')')
                    .spacer.col-xs-12
                .col-xs-12.text-justify!= profile.get('about-me-text.md')

            #you-help-me-tab.hidden.profile-tab-pane
                if media_embed(profile.get('you-help-me-video.value'))
                    .embed-responsive.embed-responsive-16by9
                        iframe.embed-responsive-item.col-xs-12(src=media_embed(profile.get('you-help-me-video.value')), allowtransparency='true', frameborder='0', scrolling='no', allowfullscreen, mozallowfullscreen, webkitallowfullscreen, oallowfullscreen, msallowfullscreen)
                    .spacer.col-xs-12
                else if profile.has('you-help-me-photo')
                    .col-xs-12
                        .profile-photo(style='background-image: url(' + profile.get('you-help-me-photo.file', '') + ')')
                    .spacer.col-xs-12
                .col-xs-12.text-justify!= profile.get('you-help-me-text.md')
                .col-xs-12.spacer
                a#donate.btn.btn-lg.col-xs-10.col-xs-offset-1.col-sm-4.col-sm-offset-4.bg-yellow(href='javascript:void(0)')= t('pages.user.donate')
                p#donate-info.col-xs-12.text-center.hidden
                    strong= t('pages.user.donate-info', title)

        .row.spacer

    script.
        $('.profile-tab').click(function() {
            $('.profile-tab').removeClass('profile-tab-active')
            $(this).addClass('profile-tab-active')

            $('.profile-tab-pane').addClass('hidden')
            $('#' + $(this).data('tab')).removeClass('hidden')
        })
        $('#donate').click(function() {
            $('#donate').addClass('hidden')
            $('#donate-info').removeClass('hidden')
        })
