header-height = 100px
header-height-xs = 50px
footer-height = 200px

screen-sm-min = 768px
screen-md-min = 992px
screen-lg-min = 1200px

color-helpific-red = rgb(241, 101, 73)
color-helpific-green = rgb(87, 147, 144)
color-helpific-yellow = rgb(252, 185, 76)

color-white = #ffffff
color-white-transparent = rgba(255, 255, 255, 0.97)

color-gray = #ababab
color-gray-dark = #585858
color-gray-light = #ededed
color-gray-transparent = rgba(88, 88, 88, 0.5)



html
    height 100%



body
    height 100%
    color color-gray-dark
    font-family 'Raleway', sans-serif
    font-size 16px
    letter-spacing 1px



#wrap
    min-height 100%



#main
    overflow auto
    padding-bottom footer-height /* this needs to be bigger than footer height*/



.navbar
    min-height header-height
    background color-white-transparent
    border none

    .navbar-header
        min-height header-height

        img
            padding-top 5px
            height header-height - 35px !important

    .navbar-collapse
        max-height 600px
        border none

    .navbar-toggle
        margin-top 33px
        border none

    .navbar-nav
        li
            a
                padding-top 0px
                padding-bottom 0px
                line-height header-height
                text-decoration none

                &:hover
                    text-decoration underline

        .dropdown
            font-size 20px

        .dropdown-menu
            margin-top -30px !important
            margin-right 10px !important
            padding 0px
            background color-white
            border 1px solid color-gray-light
            border-top 1px solid color-gray-light
            border-radius 3px
            box-shadow none

            li
                a
                    line-height 40px !important

        .open
            a
                background none !important

.navbar-border
    border-bottom 1px solid color-gray-light

@media (max-width: 991px)
    .navbar-header
        float none

    .navbar-text
        float none
        margin 15px 0

    .navbar-toggle
        display block

    .navbar-collapse.collapse
        display none !important

    .navbar-collapse.collapse.in
        display block !important

    .navbar
        min-height header-height-xs

        .navbar-nav
            float none !important
            margin 7.5px -15px

            li
                float none

                a
                    line-height 20px
                    padding-top 10px
                    padding-bottom 10px
                    line-height header-height-xs
                    text-align center

            .dropdown-menu
                position static
                float none
                margin-top 0px !important
                margin-right 0px !important
                background none
                border none !important
                border-top 1px solid color-gray-light !important

    .collapsing
        overflow hidden !important



#title
    margin-top header-height + 50px
    margin-bottom 100px



#cover
    padding-top 280px
    color color-white
    background-image url('/images/tom.jpg')
    background-position center top
    background-size cover
    background-repeat no-repeat
    height 550px
    font-size 40px
    font-weight bold
    text-align center
    text-shadow 0px 0px 10px color-gray-transparent
    vertical-align middle
    text-transform uppercase



#scroll-down
    position fixed
    bottom 0px
    width 100%
    text-align center
    color color-gray-transparent



#feedback-open
    z-index 1000
    position fixed
    bottom 20px
    right 20px
    color color-helpific-red
    text-shadow 0px 0px 10px color-gray-transparent
    cursor pointer

#feedback-close
    margin -10px -30px 0px -5px
    float left
    cursor pointer

#feedback
    z-index 1000
    position fixed
    bottom 20px
    right 20px
    max-width 500px
    color color-white
    background-color color-helpific-red
    border-radius 6px
    box-shadow 0px 0px 10px color-gray-transparent

    h2
        margin 20px
        padding 0px
        color color-white

    label
        margin-top 0px !important

    input
    textarea
        border none !important

        &:focus
            border none !important
            outline 0px

    a
        margin-top 10px
        margin-bottom 20px
        color color-white
        font-weight bold

@media (max-width: 768px)
    #feedback
        margin 0px
        bottom 0px
        left 0px
        right 0px
        max-width none
        border-radius 0px




footer
    position relative
    margin-top footer-height * -1 /* negative value of footer height */
    height footer-height
    clear both
    padding-top 20px
    background-color color-gray-light
    overflow hidden

    .social
        margin 20px 3px
        color color-gray



a
    color color-helpific-red
    text-decoration none
    outline: 0

    &:hover
        color color-helpific-red
        text-decoration underline



h1
    color color-helpific-green
    font-size 64px
    line-height 64px
    font-weight normal
    height auto
    letter-spacing -3px

    span
        font-size 32px
        line-height 32px
        font-weight normal
        height auto
        letter-spacing 0px



h2
    margin-top 40px
    margin-bottom 20px
    color color-helpific-green
    font-size 32px
    font-weight normal
    height auto
    letter-spacing 0px



h3
    margin-top 0px
    color color-gray-dark
    font-size 20px
    font-weight bold
    height auto
    letter-spacing 0px



pre
    padding 0px
    background none
    border none



.jumbotron
    background none



.bullet
    display block
    margin 0px auto 20px auto
    height 80px
    width 80px
    border-radius 40px
    color color-white
    background-color color-helpific-red
    font-family helvetica
    font-size 50px
    line-height 80px



.bg-red
    color color-white
    background-color color-helpific-red
.bg-green
    color color-white
    background-color color-helpific-green
.bg-yellow
    color color-white
    background-color color-helpific-yellow



#search
    margin-top 40px
    margin-bottom 80px

    .form-group
        border-bottom solid 1px color-helpific-green

    label
        padding 0px
        z-index 10

        i
            color color-helpific-green
            font-size 25px

    input
        margin-bottom 5px
        padding 0px
        color color-helpific-green
        border none
        outline none
        font-weight normal



.profile-tab
    padding-top 25px
    padding-bottom 25px
    color color-white
    font-size 20px
    text-decoration none
    text-align center
    white-space nowrap
    border-top solid 15px white
    border-bottom solid 5px white
    margin-bottom 20px

    &:hover, &:active, &:focus
        border-radius 0px
        color color-white
        text-decoration none

.profile-tab-active
    padding-top 40px
    padding-bottom 30px
    border-top none
    border-bottom none



.profile-photo
    background-position center center
    background-size cover
    height 300px

@media (min-width: 768px) and (max-width: 992px)
    .profile-photo
        height 400px

@media (min-width: 992px) and (max-width: 1199px)
    .profile-photo
        height 500px

@media (min-width: 1200px)
    .profile-photo
        height 600px



.spacer
    height 100px



i.signin
    margin 20px



.btn
    border none
    border-radius 0px
    text-decoration none

.btn-lg
    padding-top 25px
    padding-bottom 25px
    font-weight bold
    text-transform uppercase




#profile-form
#request-form
#feedback-form
#message-form
    label
        display block
        margin-top 30px
        margin-bottom 5px
        text-transform uppercase
        font-weight normal

    label.labelfocus
        color color-helpific-green
        font-weight bold

    select
        border-color color-gray-dark
        outline none
        box-shadow none

        &:focus
            outline none
            border-color color-helpific-green
            outline 0px

    input
    textarea
        padding 5px 1px
        border-radius 0px
        border none
        border-bottom solid 1px color-gray-dark
        outline none
        box-shadow none
        font-size 18px

        &:focus
            border-bottom solid 2px color-helpific-green
            outline 0px

        &[type=file]
            border none
            color white

        &[readonly]
            background-color white

    button
        margin-top 100px



.editor-toolbar
.CodeMirror
    border-radius: 0px !important
    border-left none !important
    border-right none !important

.CodeMirror
    border-bottom solid 1px color-gray-dark !important

.CodeMirror-focus
    border-bottom solid 2px color-helpific-green !important


.table
    .row
        margin-top 0px
        margin-bottom 0px
        padding-top 10px
        padding-bottom 10px
        border-bottom 1px solid color-gray-light

        &:last-child
            border-bottom none



#btn-add
    margin-top 30px
    font-size 50px
    color color-helpific-green

    span
        display block
        font-size 14px
        line-height 14px



#tos
    ol
        display table
        padding-top 0px
        padding-bottom 20px
        padding-left 0px
        counter-reset section
        list-style-type none

    li
        display table-row

        &:before
            display table-cell
            padding-right 5px
            counter-increment section
            content counters(section, ".") " "
